.food_modal__header_image {
  width: 100%;
}

.food_modal__description_wrapper {
  padding: 0 8px 8px 8px;
  max-height: 150px;
  overflow: scroll;
}

.food_modal__description_subtext {
  color: #545454;
  font-size: 14px;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  scrollbar-width: none;
}

.food_modal__sales_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food_modal__sales_count_wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.food_modal__order_button {
  width: 390px;
  cursor: pointer;
  background-color: black;
  color: white;
  border-style: none;
  padding: 8px 16px;
  font-size: 14px;
}
