.restaurants {
  display: flex;
  justify-content: flex-start;
  padding: 8px 32px;
}

.restaurants__main_logo {
  height: 90px;
  pointer-events: none;
  position: fixed;
}

.restaurants__main_cover_image_wrapper {
  text-align: center;
}

.restaurants__main_cover {
  height: 100%;
  width: 100%;
  pointer-events: none;
}
