.restaurants {
  padding: 8px 32px;
}

.restaurants__main_logo {
  height: 90px;
  pointer-events: none;
  position: fixed;
}

.restaurants__main_cover_image_wrapper {
  text-align: center;
}

.restaurants__main_cover {
  height: 90%;
  width: 90%;
  pointer-events: none;
}

.restaurants__contents_list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-around;
  margin-bottom: 48px;
}

.restaurants__content_link {
  color: black;
  text-decoration: none;
  margin-bottom: 32px;
}

.restaurants__contents_wrapper {
  width: 450px;
}

.restaurants__contents_image {
  width: 100%;
  object-fit: cover;
  max-height: 200px;
}

.restaurants__contents_main_text {
  font-size: 20px;
  margin: 0;
  margin-bottom: 4px;
}

.restaurants__contents_sub_text {
  color: rgb(94, 94, 94);
  font-size: 16px;
  margin: 0;
}
